@charset "UTF-8";

// =========================================================
// color - 色の設定
// =========================================================

// ---------------------------------------------------------------
//  ■サイトのメインカラーなどの指定
//  わかりやすいように名称は適宜変更してください。
// ---------------------------------------------------------------

$primary-color: #0006ff;
$primary-light-color: #0048ff;
$secondary-color: #000;
$tertiary-color: #000;
$primary-accent-color: #000;
$secondary-accent-color: #000;
$tertiary-accent-color: #000;