/* =========================================================
media - 画像のモジュール
========================================================= */

// ・画像をレスポンシブに可変させる
// --------------------
.responsive-img {
    display: block;
    height: auto;
    max-width: 100%;
}
